@model List<MultiplaEscolhaEdu.Dao.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<script>
    $(function () {
        var wTotalPaginas = 0;
        var wRotulo = "";
        $("#GridUsuario").DataTable({
            drawCallback: function () {
                this.api().state.clear();
                wTotalPaginas = $('.paginate_button:not(.previous,.next)').length;
                $('.paginate_button', this.api().table().container())
                    .on('click', function () {
                        var wTextoPosicaoPagina = $('.active').text(); // Pega o valor da página selecionada
                        var wPosicaoPagina = 0; // varíavel da posição da página

                        wPosicaoPagina = wTextoPosicaoPagina;

                        wRotulo = "Página " + wPosicaoPagina + " de " + wTotalPaginas + "(total de " + wQtde + " registros)";
                        $('#GridUsuario_info').empty();
                        $('#GridUsuario_info').html(wRotulo);
                    });
            },
            bJQueryUI: true,
            "oLanguage": {
                "sProcessing": "Processando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "Não foram encontrados resultados",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "sInfoFiltered": "",
                "sInfoPostFix": "",
                "sSearch": "Procurar:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Primeiro",
                    "sPrevious": "Anterior",
                    "sNext": "Próximo",
                    "sLast": "Último"
                }
            },
            destroy: true,
            searching: true,
            ordering: false,
            dom: 'Bfrtip',
            select: true,
           paging: false
        });

        $('#GridUsuario_paginate').hide();

        $('input[type="search"]').css("width", "950px");
    });

    function ExcluirUsuario(id) {
        if (confirm("Deseja excluir este registro?") == true) {
            var data = new FormData();
            data.append("wId", id);

            $.ajax({
                url: "/Usuarios/ExcluirUsuario",
                data: data,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (jsonResult) {
                    if (jsonResult.sucesso === true) {
                        $('#popMensagemSucesso').modal('show');
                        $('#mensagemSucesso').html(jsonResult.mensagem);
                        window.setTimeout(function () {
                            window.location.href = "/Usuarios/Index"
                        }, 3000);
                    } else {
                        $('#popMensagemErro').modal('show');
                        $('#mensagemErro').html(jsonResult.mensagem);
                        window.setTimeout(function () {
                            $('#popMensagemErro').modal('hide');
                        }, 5000);
                    }
                }
            });
        } else {
            return false;
        }
    }

    function CarregarDadosUsuario(id) {
        window.location.href = '/Usuarios/Cadastro?id=' + id;
    }
</script>
<section class="section">
    <h1 class="section-header">
        Usuários do Sistema
    </h1>
    <div class="section-body">
        <div class="table-responsive" style="overflow-x: auto">

            <table id="GridUsuario" class="table" style="width: 100%">
                <thead class="rotuloTable">
                    <tr>
                        <th style="width: 12%"><a alt="Novo Registro" title="Novo Registro" href="/Usuarios/Cadastro">+</a></th>
                        <th style="width: 44%">Login</th>
                        <th style="width: 20%">Usuário Logado?</th>
                        <th style="width: 24%">Último Acesso</th>
                    </tr>
                </thead>
                <tbody id="dadosGridUsuario" class="GridUsuario tablelinhaimp">
                    @foreach (var item in Model)
                        {
                        var usuarioLogado = item.Usuariologado == 0 ? "Não" : "Sim";
                    <tr>
                        <td>
                            <img src="~/img/btnEdit.png" idth="20" height="20" alt="Alterar Usuario" title="Alterar Usuario" onclick="CarregarDadosUsuario( @item.Id);" />
                            <img src="~/img/btnDelete.png" idth="20" height="20" alt="Excluir Usuario" title="Excluir Usuario" onclick="ExcluirUsuario(@item.Id);" />
                        </td>
                        <td>@item.LoginUsuario</td>
                        <td>@usuarioLogado</td>
                        <td>@item.UltimoAcesso</td>
                    </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
</section>

