@{
    ViewData["Title"] = "Cadastro";
}
<script>
    $(function () {
        var id = getParameterByName("id") == null ? "0" : getParameterByName("id");

        if (id !== "0") {
            $('#hdnIdMatricula').val(id);

            $.ajax({
                type: "GET",
                url: "/Matriculas/CarregarDadosMatricula?id=" + $('#hdnIdMatricula').val(),
                contentType: "application/JSON; charset=UTF-8",
                dataType: "json",
                success: function (jsonResult) {
                    $(jsonResult.dados).each(function () {
                        $('#ddlStatusMatricula').val(this.status);
                        $('#txtDataMatricula').val(this.dataMatricula);
                        $('#ddlCurso').val(this.idCurso);
                        $('#ddlAluno').val(this.idAluno);
                        $('#ddlParceiro').val(this.idParceiro);
                    });
                }
            });
        }

        $('#btnSalvarMatricula').click(function () {
            var data = new FormData();

            data.append("Id", $('#hdnIdMatricula').val());
            data.append("Status", $('#ddlStatusMatricula').val());
            data.append("DataMatricula", $('#txtDataMatricula').val());
            data.append("IdCurso", $('#ddlCurso').val());
            data.append("IdAluno", $('#ddlAluno').val());
            data.append("IdParceiro", $('#ddlParceiro').val());

            $.ajax({
                url: "/Matriculas/GravarMatricula",
                data: data,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    if (data.mensagem === "Ok") {
                        window.location.href = "/Matriculas/Index";
                    } else {
                        alert(data.mensagem);
                    }
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        });
    });

    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
</script>
<section class="section">
    <h1 class="section-header">
        Registro de Matrículas
    </h1>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="dados-cadastrais" role="tabpanel" aria-labelledby="home-tab">
            <div class="table-responsive" style="overflow-x: auto">
                <table class="table" style="width: 100%">
                    <tr>
                        <th>Status Matrícula</th>
                        <th>Data Matrícula</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" id="hdnIdMatricula" value="0" />
                            <select id="ddlStatusMatricula" class="form-control">
                                <option value="0">Pendente</option>
                                <option value="1">Efetivada</option>
                                <option value="2">Cancelada</option>
                            </select>
                        </td>
                        <td>
                            <input type="date" id="txtDataMatricula" class="form-control" />
                        </td>
                    </tr>
                </table>
                <table class="table" style="width: 100%">
                    <tr>
                        <th>Curso</th>
                        <th>Aluno</th>
                        <th>Parceiro</th>
                    </tr>
                    <tr>
                        <td>
                            <select id="ddlCurso" class="form-control">
                                @foreach (var item in ViewBag.Cursos)
                                {
                                    <option value="@item.Id">@item.Descricao</option>
                                }
                            </select>
                        </td>
                        <td>
                            <select id="ddlAluno" class="form-control">
                                @foreach (var item in ViewBag.Alunos)
                                {
                                    <option value="@item.Id">@item.Nome</option>
                                }
                            </select>
                        </td>
                        <td>
                            <select id="ddlParceiro" class="form-control">
                                @foreach (var item in ViewBag.Parceiros)
                                {
                                    <option value="@item.Id">@item.NomeCompleto</option>
                                }
                            </select>
                        </td>
                    </tr>
                </table>
                <table class="table" style="width: 100%">
                    <tr>
                        <td>
                            <input type="button" id="btnSalvarMatricula" value="Salvar" class="btn btn-primary" />
                            <input type="button" id="btnCancelarMatricula" value="Cancelar" class="btn btn-danger" onclick="window.location.href = '/Matriculas/Index'" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

